
.example-form {
    min-width: 50px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .example-full-width {
    padding: 3%;
    width: 50%;
  }
  .mat-dialog-actions {
    justify-content: right;
}