<!-- <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel = "stylesheet" href = "./modal-create.component.css">
        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    </head> -->

<!-- <div class="container">
            <input type="checkbox" id="flip">
            <div class="cover">
                    
                    <img src="assets/wall2.jpg" alt="background image">
               
            </div>
            <form class="inputs" [formGroup]="ticketForm"(ngSubmit)="onSubmitCreate()">
               <div class="form-content">
                <div class="admin-form">
                    <div class="title">Create New Ticket</div>
                    <div class="input-boxes">
                      <div class="input-box">
                        <i class="fa fa-car"></i>
                        <input type="text" formControlName="ticketAssignee" placeholder="Ticket Assignee">
                    </div>

                    <div class="input-box">
                        <i class="fa fa-paint-brush"></i>
                        <input  placeholder="Pending" disabled="disabled">
                    </div>

                    <div class="input-box">
                        <i class="fa fa-money"></i>
                        <input type="text" formControlName="ticketSubject" placeholder="Subject">
                    </div>

                    <div class="input-box">
                        <i class="fa fa-road"></i>
                        <input type="text" formControlName="ticketDescription" placeholder="Description">
                    </div>
                    <div class="input-box">
                        <i class="fa fa-road"></i>
                        <input  formControlName="ticketTracker"  placeholder="Tracker">
                    </div> -->

<!-- <div class="input-box">
                      <i class="fa fa-key"></i>
                        <input matInput [matDatepicker]= "datePicker" placeholder="Pick-up Date"[min]="minDate"[max]="maxDate"[(ngModel)]="getDate" [ngModelOptions]="{standalone: true}">
                        
                        <mat-datepicker-toggle [for]= "datePicker" matSuffix>
                          <mat-datepicker #datePicker>
                          </mat-datepicker>
                        </mat-datepicker-toggle>
                     
                    </div> -->
<!--                         
                        <div class="button input-box">
        
                            <input type="submit" value="Submit Ticket">
                        </div>
                        <div class="text sign-up-text"><a routerLink="/user-dashboard" (click)="close()">Take me back!</a></div>
                    </div>
                </div>
                </div>
            </form>
            </div>
      -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .layout {
        margin: 50px auto;
        width: 1500px;
      }
    </style>
  </head>
  <body>
    <div
      class="modal fade"
      id="createTicket"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Submit ticket
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="inputs">
              <div class="p-3">
                <div class="row g-2">
                  <div class="col-6">
                    <h2 class="fs-5">Subject</h2>
                    <input
                      class="form-control"
                      type="text"
                      name="start_date"
                      id="start_date"
                      value=""
                      placeholder="Subject"
                    />
                  </div>
                </div>
                <br />
                <div class="row g-2">
                  <div class="col-12">
                    <h2 class="fs-5">Tell us about your issue</h2>
                    <div class="form-floating">
                      <textarea
                        formControlName="ticketDesc"
                        class="form-control"
                        placeholder="Leave a comment here"
                        id="floatingTextarea2"
                        style="height: 100px"
                      ></textarea>
                      <label for="floatingTextarea2">Description</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Submit ticket</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
